//HEADSHOT + ABOUT
.aboutSection {
  // padding-top: 150px;
  position: relative;
}

.headshotDiv {
  background: url("/assets/headshot_brick_cropped_optim.jpg");
  background-size: cover;
  height: 550px;
}

.headshotFigure {
  // width: 50%;
  margin-right: 50%;

  img {
    max-height: 400px;
    margin-left: 50px;
  }
}

//ABOUT

.aboutBackground {
  // background: rgba(0, 0, 0, 0.959);
  // margin-top: 20px;
  padding: 10px 0;
}

.aboutText {
  width: 50%;
  margin-left: 35%;
}

.numberedText__about {
  position: relative;
  top: -55px;
  padding: 25px 0 0 0;
  h1,
  h2 {
    color: $lightShapeColor;
  }
}

.aboutText__paragraph {
  p {
    padding-top: 20px;
  }
  // p,
  // h4 {
  //   color: white;
  // }
}
