.contactSection {
   padding-top: 50px;
   display: flex;
   justify-content: space-around;
}

.contactSection__trianglesSide {
   width: 20%;
   position: relative;
   // transform: rotate(90deg);
   // top: -150px;
   // left: 300px;
}

.triangle1Bottom, 
.triangle2Bottom {
   right: -100px;
}
.triangle1Bottom {
   top: -150px;
}
.triangle2Bottom {
   top: 52px;
}

// .bottomTriangles__wrapper {
   
// }

.contactSection__inputSide {
   width: 60%;
   padding-right: 20px;
}

.numberedText__contact {
   position: relative;
}

.formWrapper {
   label {
      font-size: 15px;
      font-weight: 700;
      width: 75px;
      text-align: right;
      margin-right: 15px;
   }

   #emailInput,
   #nameInput, {
      height: 60px;

   }

   #emailInput,
   #nameInput,
   textarea {
      border: none;
      border-bottom: $accentColor 1px solid;
      width: 100%;
      padding: 10px 6px;
   }

   textarea {
      margin-top: 40px;
      resize: none;
      padding-left: 0;
   }

   .submitWrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      height: 50px;
   }
}  



.inputWrapper,
.textareaWrapper {
   display: flex;
   align-items: center;
}

.textareaWrapper {
   align-items: flex-start;
   label {
      margin-top: 50px;
   }
}

.otherContactWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   p {
      text-align: center;
      padding: 20px 0;
   }
}

.emailWrapper {
   display: flex;
   align-items: center;
   justify-content: space-around;
   span {
      margin-left: 20px;
   }

   &:hover, &:active {
      color: orange;
   }
}

