// TOP NAV

.topNav {
   background: black;
   position: fixed;
   width: 100%;
   z-index: 20;
}

.topNav__Flex {
   display: flex;
   height: 50px;
   align-items: center;
   justify-content: space-between;

   h3 {
      color: white;
   }
}

.topNav__wrapper {
   display: flex;
   color: white;

   li {
      padding: 0 15px;
   }

   a {
      font-size: 13px;
      font-weight: 700;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;

      &:hover,
      &:active {
         color: white;
         border-bottom: white solid 1px;
      }
   }
}

//HERO IMAGE ZONE

.hero {
   max-height: 100vh;
   min-height: 800px;
   min-width: 100%;
   background: linear-gradient(to right, black, black 30%, transparent), url("/assets/particleFace.jpg");  
   background-size: cover;
}

.hero__flex {

   height: 100vh;
}

.numberedText__hero {
   padding-top: 30%;
   max-width: 700px;
   h1, h2 {
      width: 50%;
      color: $accentColor;
   }
}