.projectContainer {
   padding: 25px 0;
}

.project {
   display: flex;
   justify-content: space-between;
   height: 500px;
}

.projects__numberedText {
   padding-top: 30px;
   max-width: 100%;
   text-align: center;
}

.projectBackground__left {
   background: linear-gradient(to right, $lightShapeColor__background1, $lightShapeColor__background2) ;
}

// .projectBackground__right {
//    // background: linear-gradient(to left, $accentColor, $accentColor 35%, white 40%, white);
// }

.projectFigure {
   display: flex;
   align-items: center;
   // height: 300px;
   width: 45%;
   // background: lightgray;
}

.projectImage {
   width: 100%;
}

.projectText {
   width: 50%;
   display: flex;
   // align-items: center;
   flex-direction: column;
   justify-content: center; 
   p {
      padding: 10px 0;
   }
}

.projectLink__wrapper {
   // text-align: center;
   margin: 10px 0;
}

.projectLink {
   color: $iconColor;
   height: 50px;
   padding: 10px;
}

.projectGitHub {
   color: black;
   margin-left: 10px;
   // padding: 5px 10px;
   height: 50px;
   padding: 10px;

   &:hover, &:active {
      color: black;
   }
}

.projectTitle {
   font-size: 36px;
   padding-bottom: 20px;
}

.projectLeft {
   .projectText {
      padding-right: 50px;
   }
}

.projectRight {
   flex-direction: row-reverse;

   .projectText {
      padding-left: 50px;
   }
}