// TRIANGLES

.triangle {
   height: 199px;
   width: 278px;
   display: inline-block;
   position: absolute;
}

.triangleUp {
   -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangleDown {
   -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
   clip-path: polygon(0 0, 50% 100%, 100% 0);
}

//TOP TRIANGLES

.topTriangles {
   position: relative;
   top: -270px;
   display: block;
   z-index: 10;
}

.topTriangles__spacer {
   position: absolute;
   left: 40%;
}

.triangle1::before,
.triangle3::before,
.triangle5::before,
.triangle7::before {
   content:"";
   display:block;
   width:100%;
   height:100%;
   background: linear-gradient(to bottom, transparent, rgb(33, 49, 76), rgb(33, 49, 76), transparent, transparent) fixed;
}

.triangle2::before,
.triangle4::before,
.triangle6::before {
   content:"";
   display:block;
   width:108%;
   height:150%;
   transform: rotate(90deg);
   background: linear-gradient(to top, transparent, rgb(33, 49, 76), blue, yellow) fixed;
}
.trianglePre::before {
   content:"";
   display:block;
   width:100%;
   height:100%;
   // transform: rotate(250deg);
   background: linear-gradient(to bottom, rgb(191, 243, 255), rgb(235, 251, 255)) fixed;
}

.trianglePre {
   left: -144px;
}

.triangle2 {
   top: 203px;
}

.triangle3 {
   top: 204px;
   left: 144px;
}

.triangle4 {
   top: 408px;
   left: 145px;
}

.triangle5 {
   top: 408px;
   left: 288px;
}

.triangle6 {
   top: 612px;
   left: 288px;
}

.triangle7 {
   top: 612px;
   left: 145px;
}
